<div class="container">
  <h3>Create new student</h3>

  <form [formGroup]="studenForm" (ngSubmit)="onSubmit()">
    <div class="row">
    <div class="form-group col-sm-6">
      <label>first Name</label>
      <input
        type="text"
        formControlName="first_name"
        class="form-control"
        [(ngModel)]="student.first_name"
        [ngClass]="{
          'is-invalid': submitted && studentFormControl['first_name'].errors
        }"
        required="true"
      />
      <div
        *ngIf="submitted && studentFormControl['first_name'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="studentFormControl['first_name'].errors['required']">
          first name is required
        </div>
      </div>
    </div>

    <div class="form-group col-sm-6">
      <label>Last Name</label>
      <input
        type="text"
        formControlName="last_name"
        class="form-control"
        [(ngModel)]="student.last_name"
        [ngClass]="{
          'is-invalid': submitted && studentFormControl['last_name'].errors
        }"
        required="true"
      />
      <div
        *ngIf="submitted && studentFormControl['last_name'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="studentFormControl['last_name'].errors['required']">
          Last name is required
        </div>
      </div>
    </div>
  </div>
  <br/>

  <div class="row">
    <div class="form-group col-sm-2">
      <label>Mobile Number</label>
      <select class="form-control" formControlName="countryCode"
      [(ngModel)]="selectedCountryCode">
        <option disabled>Select country code</option>
        <option>+27</option>
		    <option>+93</option>
		    <option>+355</option>
		    <option>+1</option>
        <option>+213</option>
        <option>+244</option>
        <option>+376</option>
        <option>+374</option>
        <option>+61</option>
        <option>+43</option>
        <option>+54</option>
      </select>
      <div
        *ngIf="submitted && studentFormControl['countryCode'].errors"
        class="invalid-feedback"
      >
        <div *ngIf="studentFormControl['countryCode'].errors['required']">
          Country code is required
        </div>
      </div>
    </div>
    <div class="form-group col-sm-4">
      <label></label>
      <input
        type="number"
        formControlName="mobile_number"
        maxlength="9"
        class="form-control"
        [(ngModel)]="student.mobile_number"
        [ngClass]="{
          'is-invalid': submitted && studentFormControl['mobile_number'].errors
        }"
        required="true"
      />
      <div
        *ngIf="submitted && studentFormControl['mobile_number'].errors"
        class="invalid-feedback">
        <div *ngIf="studentFormControl['mobile_number'].errors['required']">
          Mobile Number is required
        </div>
        <div *ngIf="studentFormControl['mobile_number'].errors['max']">
          put 9 characters excluding the beginning 0
        </div>
      </div>
    </div>

    <div class="form-group col-sm-6">
      <label>Email Address</label>
      <input
        type="text"
        formControlName="email_address"
        class="form-control"
        [(ngModel)]="student.email_address"
        [ngClass]="{
          'is-invalid': submitted && studentFormControl['email_address'].errors
        }"
        required="true"/>
      <div
        *ngIf="submitted && studentFormControl['email_address'].errors"
        class="invalid-feedback">
        <div *ngIf="studentFormControl['email_address'].errors['required']">
          Email Address is required
        </div>
        <div *ngIf="studentFormControl['email_address'].errors['email']">
          Email is invalid
        </div>
      </div>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="form-group col-sm-6">
      <label>Date of Birth</label>
      <input
        type="date"
        formControlName="dateOfBirth"
        class="form-control"
        [(ngModel)]="student.dateOfBirth"
        [ngClass]="{
          'is-invalid': submitted && studentFormControl['dateOfBirth'].errors
        }"
        required="true"/>
      <div
        *ngIf="submitted && studentFormControl['dateOfBirth'].errors"
        class="invalid-feedback">
        <div *ngIf="studentFormControl['dateOfBirth'].errors['required']">
          Email Address is required
        </div>
      </div>
    </div>

    <div class="form-group col-sm-6">
      <label>Current Score</label>
      <input
        type="number"
        formControlName="current_score"
        maxlength="3"
        class="form-control"
        [(ngModel)]="student.current_score"
        [ngClass]="{
          'is-invalid': submitted && studentFormControl['current_score'].errors
        }"/>
      <div
        *ngIf="submitted && studentFormControl['current_score'].errors"
        class="invalid-feedback">
        <div *ngIf="studentFormControl['current_score'].errors['max']">
          Current Score must be between 0 and 100
        </div>
      </div>
    </div>
  </div>

    <br />
    <br />

    <div class="form-group">
      <button class="btn btn-success col-sm-6" type="submit">Submit</button>

      <button
        type="button"
        (click)="onReset()"
        class="btn btn-success col-sm-6">
        Cancel
      </button>
    </div>
  </form>
</div>
