<!DOCTYPE html>
<html lang="en">
 <head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Student Manager</title>
 </head>
<body>
<div  class="container">
  <h2><b>Student Manager</b></h2>
  <div class="topnav">
    <a routerLink="search" class="nav-link" class="btn btn-primary active" role="button" >Search</a>
    <a  routerLink="create" class="nav-link" class="btn btn-primary active" role="button" >Create</a>


  </div>
  <!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a routerLink="search" class="nav-link" class="btn btn-primary active" role="button" >Search</a>
        </li>
        <li class="nav-item">
          <a  routerLink="create" class="nav-link" class="btn btn-primary active" role="button" >Create</a>
        </li>
      </ul>
    </nav> -->
       <router-outlet></router-outlet>
  </div>
</body>
</html>
